<!DOCTYPE html>
<html>
<head>
	<!-- 聊天 -->
	<meta charset="utf-8">
	<title>聊天(客服版)</title>
	
</head>
<body>
<div id="app">
    {{a}}
    <!--如果是复选框 只有一个复选框的时候，会把此值转化为boolean类型-->
    <!--如果是多个checkbox  要增加value属性并且数据类型是数组-->
    <input type="checkbox" v-model="a"><br/>
    爱好：<input type="checkbox" v-model="b" value="游泳">游泳<input type="checkbox" v-model="b" value="爬山">爬山<input type="checkbox" v-model="b" value="睡觉">睡觉
    {{b}}
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            a:0,
            b:[]

        }
    })
</script>
</body>
</html>