<!DOCTYPE html>
<html>
<head>
	<!-- 聊天 -->
    <meta charset="utf-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>计算属性</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div id="app">
    <div class="container">
         <!--每一行又会拥有12列-->
        <div class="row">
            <table class="table table-hover table-bordered">
                <caption class="h2 text-warning text-center">购物车购物车</caption>
                <tr>
                    <!--v-model先将数据取出来，读取，改后就set-->
                    <th>全选<input type="checkbox" v-model="checkAll"></th>
                    <td>商品</td>
                    <td>单价</td>
                    <td>数量</td>
                    <td>小计</td>
                    <td>操作</td>
                </tr>
                <!--属性绑数据要用v-bind:属性或:属性 指令：动态绑定数据-->
                <tr v-for="(product,index) in products">
                    <td>
                        <a href="javascript:;" class="item-check-btn" :class="'check':product.checked" @click=selectedProduct(product)></a>
                    </td>
                    <td><img v-bind:src="product.productCover" :title="product.productName" alt="">{{product.productInfo}}<br/>
                        赠送：<span v-for="part in product.parts">{{part.partsName}} </span>
                    </td>
                    <td>{{product.productPrice}}</td>
                    <td>
                        <a href="javascript:;" v-on:click="changeMoney(product,-1)">-</a>
                        <!--.number是让输入框的值变成数字类型  .lazy当输入框失去焦点时更新数据-->
                        <input type="number" v-model.number="product.productCount" min="1">
                        <a href="javascript:;" @click="changeMoney(product,1)">+</a>
                    </td>
                    <td>
                        <!--过滤器 原数据不变的情况下，只是改变显示的效果 管道符-->
                        <!-- {{(product.oductPrice*product.productCount).toFixed(2)}} -->
                        {{product.productPrice*product.productCount | toFixed(2)}}
                    </td>
                    <td><button class="btn btn-danger" @click="remove(product)">删除</button></td>
                </tr>
                <tr>
                    <!--{{sum}} 是个计算属性-->
                    <td colspan="6">总价格：{{sum | toFixed(2)}}</td>
                </tr>
            </table>
        </div>
    </div>
    
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<!--基于promise的-->
<script src="node_modules/axios/dist/axios.js"></script>
<script>
let vm = new Vue({
    el:'#app',
    //当给全选赋值时，要影响其他人的变化，当页面刷新时，获取全选值，是根据下面的checkbox计算出来的结果给全选赋值  Object,defineProperty与computed用法相似
    computed:{ //放在computed中最后也会放在vm上，不能和methods与data重名
        checkAll:{  //checkAll对象是算出来的，而不是真实存在的数据
            //当products值变化时会重新计算
            get(){//get和set this指向实例  默认v-model会获取checkAll的值，所以会调用get方法
                return this.products.every(p=>p.isSelected);
            },
            set(val){//当我们给checkbox赋值的时候
                this.products.forEach(p=>p.isSelected = val);
            }
        },
        sum(){ //如果计算属性写成函数 默认调用的就是get方法
            return this.products.reduce((prev,next)=>{
                if(!next.isSelected) return prev;  //如果当前没被选中，就不加当前这一项
                return prev+next.productPrice*next.productCount;
            },0);
        }
        // sum:{ //sum的结果会被缓存 如果依赖的数据没有变化就不会重新执行
        //     get(){
        //         return this.products.reduce((prev,next)=>{
        //             if(!next.isSelected) return prev;  //如果当前没被选中，就不加当前这一项
        //             return prev+next.productPrice*next.productCount;
        //         },0);
        //     }
        // }
    },
    filters:{//可以有好多的自定义过滤器
        toFixed(value,param1){  //这里的this指向的是windows  ,第1个参数value代表的是管道符前面的内容，第2个参数param1代表的是toFixed中传递的参数
            return '￥'+value.toFixed(param1) + '元';
        }
    },
    //专门用来发送ajax的方法
    created(){//数据被初始化后会调用，this指向指的也是vm实例，钩子函数
        this.getData();
    },
    methods:{
        getData(){   //初始化方法
            //promise 解决回调问题的
            axios.get('./carts.json').then(res=>{//success
                console.log(res);
                this.products = res.data;  //获取数据 需要的是res.data
            },err=>{//error
                console.log(err);
            });
        },
        remove(p){//p代表的是当前点击的数组这一项 [ccc,eee,gtg,qq,p]
            this.products = this.products.filter(item=>item!==p);//把过滤后的数据赋值给数组    p和ccc相不相等，不等是true，true就留下，一个个比下去，发现p等不等于P,相等就取反，取反后为false,就不要这个了。
        },
        changeMoney(item,way){//item代表传的对应产品，way操作的方式，-1代表-，1代表+
            if(way>0){
                item.productCount++;
            }else{
                item.productCount--;
            }

        },
        selectedProduct(item){
            if(typeof item.checked == 'undefined'){
                
            }
        }
    },
    data:{
        products:[]
    }
})
</script>
</body>
</html>