<!DOCTYPE html>
<html>
<head>
	<!-- 聊天 -->
	<meta charset="utf-8">
	<title>checkAll</title>
	
</head>
<body>
<div id="app">
    全选<input type="checkbox" v-model="checkAll"><br/>
    <input type="checkbox" v-for="product in products" v-model="product.isSelected">
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        computed:{
            checkAll:{
                get(){//返回什么结果 就会赋予给checkAll属性
                    return this.products.every(item=>item.isSelected)
                },
                set(val){//val是给checkAll赋予值的时候传递给其它人 改它自己的时候影响其他人
                    this.products.forEach(item=>item.isSelected =val);
                }
            }
        },
        data:{
            products:[{isSelected:true},{isSelected:true}]
            

        }
    })
</script>
</body>
</html>