<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>动态组件和v-once指令</title>
</head>
<body>
<div id="app">
    <child-one v-if="type==='child-one'"></child-one>
    <child-two v-if="type==='child-two'"></child-two>
    <!-- <component :is="type"></component> -->
    <button @click="handleBtnClick">change</button>
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script>
    //v-once第一次用时就放在内存里了，第二次要用时直接在内存中拿它
    Vue.component('child-one',{
        template:`<div v-once>
                        child-one
                  </div>`,
    });
    Vue.component('child-two',{
        template:`<div v-once>
                        child-two
                  </div>`,
    });
    let vm = new Vue({
        el:'#app', 
        data:{
            type:'child-one'
        },
        methods:{
            handleBtnClick:function(){
                this.type = (this.type === 'child-one' ? 'child-two':'child-one');
            }
        }        
    })
        
</script>
</body>
</html>